<div class="table-wrapper">
    <% if (data.length > 0) {%>
        <table class="table table-hovered">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Court Date</th>
                    <th scope="col">Room Number</th>
                    <th scope="col">Court Time</th>

                </tr>
            </thead>
            <tbody>
                <% data.forEach((row, index) => { %>
                    <tr>
                        <td align = "center"><a href="/case?id=<%= row.caseID%>"><%= row.caseID.toString().padStart(6, "0") %></td>
                        <td align = "center"><%= row.courtDate %></td>
                        <td align = "center"><%= row.roomNumber %></td>
                        <td align = "center"><%= row.courtTime %></td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    <% } else { %>
        <p class="text-center">No officers found. Go <a href="/register" >here</a> to add players.</p>
    <% } %>
</div>
</div>
<div>
<form action="/logout?_method=DELETE" method="POST">
    <button type ="submit">Log Out</button>
</form>
</div>
</div>