<%- include('partials/test') %>
<%- include('style') %>

<% if (crime.length > 0) {%>
    <table class="table table-hovered">
        <thead class="thead-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">FBICode</th>
                <th scope="col">Type</th>
                <th scope="col">Date</th>
                <th scope="col">Description</th>
                <th scope="col">Domestic</th>
                <th scope="col">Arrest</th>
            </tr>
        </thead>
        <tbody>
            <% crime.forEach((row, index) => { %>
                <tr>
                    <td align = "center"><a href="/crime?id=<%= row.crimeID%>"><%= row.crimeID %></td>
                    <td align = "center"><%= row.FBICode %></td>
                    <td align = "center"><%= row.type %></td>
                    <td align = "center"><%= row.Date %></td>
                    <td align = "center"><%= row.description %></td>
                    <td align = "center"><%= row.domestic %></td>
                    <td align = "center"><%= row.arrest %></td>
                </tr>
            <% }) %>
        </tbody>
    </table>
<% } else { %>
    <p class="text-center">No players found. Go <a href="/add" >here</a> to add players.</p>
<% } %>

<%- include('criminal.ejs' , {data : data});%>



